{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        {% for categoria in categorias %} 
            <tr class="list-group">
                
                
                
                <div class="card">
                    <div class="card-body">
                        <td class="list-group-item" >Seu Dataset tinha {{ categoria.total }}</td>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <td class="list-group-item">O Algoritmo conseguiu categorizar {{ categoria.categorizado }}</td>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <td class="list-group-item">Precisa ser anotado {{ categoria.resto }}</td>        
                    </div>
                </div>
                
                
                
            </tr>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ url_for('data', nome_arquivo = 'DATA.csv') }}" download="DATA_CORRIGIDA.csv">Faça o download aqui</a>

    <a class="btn btn-danger" href="{{ url_for('index') }}">Subir Dataset</a>
    <a class="btn btn-danger" href="{{ url_for('cadastro') }}">Adicionar Keywords</a>
    <h3 class="text-muted"> Já usou o Algoritmo, que tal limpar o servidor agora? :) </h3>
    <a class="btn btn-danger" href="{{ url_for('deleta') }}"> Limpar Servidor </a>
{% endblock %}