{% extends "template.html" %}
{% block conteudo %}

    <form class="wizard-big" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" id="form-cadastro">
        <div class="container">

            <h1> Upload dos Dados</h1>
            <fieldset>
                
                <h3 class="font-bold text-uppercase text-center"> Suba seu Dataset </h3>                    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <figure class="thumb col-md-4">
                                <figcaption>
                                    <label class="fileContainer">
                                        <button class="btn btn-primary btn-lg">Upload
                                        <input type="file" name="arquivo" accept=".csv,.xlsx"></button>
                                    </label>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </fieldset>

            <h1>Aplicar Algoritmo</h1>
            <fieldset>
                <h3 class="font-bold text-uppercase text-center"></h3>
                <div class="row m-b-sm">
                    <div class="form-group">
                        <div class="container">
                            <button type="submit" class="btn btn-primary btn-salvar">enviar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

    </form>
{% endblock %}