{% extends "template.html" %}
{% block conteudo %}

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="container">
            <figure class="thumb col-md-4">
                <figcaption>
                    <label class="fileContainer">
                        <button class="btn btn-primary btn-lg"> Suba seu Dataset</button>
                        <input type="file" name="arquivo" accept=".csv,.xlsx">
                    </label>
                </figcaption>
            </figure>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary btn-salvar">enviar</button>
            <a class="btn btn-danger" href="{{ url_for('cadastro') }}">Adicionar Keywords</a>
        </div>
    </form>
{% endblock %}